In [22]:
import pandas as pd
import sklearn
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn import tree
# membuat model dengan decision tree classifier
clf = tree.DecisionTreeClassifier()
from sklearn.model_selection import cross_val_score

**Latihan 1**

In [2]:
df = pd.read_csv("sample_data/california_housing_train.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**Latihan 2**

In [8]:
# load iris dataset
iris = datasets.load_iris()

In [6]:
# pisahkan atribut dan label pada iris dataset
x=iris.data
y=iris.target

In [15]:
# membagi dataset menjadi training dan testing 
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)

In [16]:
# menghitung panjang/jumlah data pada x_test
len(x_train)

120

In [17]:

len(x_test)

30

In [18]:

len(y_train)

120

In [19]:

len(y_test)

30

**Latihan 3**

In [23]:
# mengevaluasi performa model dengan cross_val_score
scores = cross_val_score(clf, x, y, cv=5)

In [24]:
scores

array([0.96666667, 0.96666667, 0.9       , 0.96666667, 1.        ])